*{
    background-color: slategray ;
}
#gitter{
    grid-area: bottom;
    justify-self: center;
}

.grid-container{
    display: grid;
    grid-template-areas:
        "top"
        "bottom";
    background-color: black;
}
#reset {
    grid-area: top;
    justify-self: center;
    margin-right: 1em;
    background-color: rgb(114, 114, 114);
    color: white;
    font-weight: bold;
}
#timer{
    display: grid;
    grid-area: top;
    justify-self: end;
    height: 1.em;
    background: black;
    color: #f00;
    font-size: 3em;
}
#flaggen_cnt{
    display: grid;
    grid-area: top;
    justify-self: start;
    height: 1.em;
    background: black;
    color: #f00;
    font-size: 3em;
}

